<!DOCTYPE html>
<html>
  <head>
    <title>Btenca</title>
    <%= favicon_link_tag 'icon2.png' %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="bg-dark">
    <%= yield %>
  </body>
</html>
